.main {
  .content {
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdf4cf;
    color: #000;
    margin: 0px;
    a {
      color: #000;
      text-decoration: none;
    }
  }
}
